<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/study_chat/thematic.css' %}">
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
</head>
<body>
<div class="layui-row chat-thematic">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 layui-bg-cyan chat-thematic-header">
        <div class="head-container">
            <div class="thematic-logo">
                <img src="/static/assets/images/logo.png" class="thematic-logo-image">
            </div>
            <div class="thematic-title">
                <p>亿智导师</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 layui-bg-cyan chat-thematic-content ">
        <ul class="layui-nav layui-nav-tree layui-inline layui-bg-cyan" lay-filter="thematic" style="width: 100%;">
            {% for session in content.data  %}
                <li class="layui-nav-item {% if forloop.first %}layui-this{% endif %}" >
                    <a href="javascript:;"  onclick="sendRequest({{ session.session_id }})">{{ session.thematic }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12  layui-bg-cyan chat-thematic-foot">
        <div class="thematic-foot-date">
            <i class="layui-icon layui-icon-date" style="font-size: 30px; color: #1E9FFF;"></i>
        </div>
        <div class="thematic-foot-add" onclick="startConversation()">
            <i class="layui-icon layui-icon-addition" style="font-size: 30px; color: #1E9FFF;"></i>
        </div>
    </div>
</div>
</body>

<script>

    $(document).ready(function() {
        // 确保 Layui 元素已渲染
        layui.use('element', function(){
            var element = layui.element;
            console.log("click")
            // 触发第一个导航项的点击事件
            $(".layui-nav-item:first-child a").click();
        });
    });
    layui.use(['jquery', 'element'], function(){
        var $ = layui.jquery;
        var element = layui.element;

        // 绑定点击事件到所有导航项
        $('.layui-nav-item a').on('click', function(){
            // 移除所有导航项的 layui-this 类
            $('.layui-nav-item').removeClass('layui-this');

            // 将 layui-this 类添加到被点击的导航项
            $(this).parent('.layui-nav-item').addClass('layui-this');
        });

        // 初始时触发第一个导航项的点击事件
        $(".layui-nav-item:first-child a").click();
    });


</script>
</html>