.bubble {
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative; /* 为了绝对定位尾巴 */
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-top: 15px; /* 留出空间显示三角形 */
}

.bubble-content {
    color: #333;
    white-space: pre-wrap;
}

/* 用户1的消息样式 */
.bubble-left {
    background-color: #e0e0e0;
    align-self: flex-start;
    margin-right: auto; /* 保证气泡靠左 */
}

/* 用户2的消息样式 */
.bubble-right {
    background-color: #d1e7ff;
    align-self: flex-end;
    margin-left: auto; /* 保证气泡靠右 */
}

/* 用户1的气泡三角消息样式，气泡靠左，三角在左上角 */
.bubble-left::after {
    content: "";
    position: absolute;
    top: -20px; /* 调整至气泡外部顶部 */
    left: 11px; /* 三角形的水平位置，距离气泡的左边界一定距离 */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #e0e0e0; /* 三角形的颜色与气泡背景相同 */
}
/* 用户2的气泡三角消息样式，气泡靠右，三角在右上角 */
.bubble-right::after {
    content: "";
    position: absolute;
    top: -20px; /* 调整至气泡外部顶部 */
    right: 11px; /* 三角形的水平位置，距离气泡的右边界一定距离 */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #d1e7ff; /* 三角形的颜色与气泡背景相同 */
}

.chat-message {
    display: flex;
    flex-direction: column;
}

.avatar-container-left {
    align-self: flex-start;
    margin-left: 6px;
}
.avatar-container-right {
    align-self: flex-end;
    margin-right: 6px;
}
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* 模态窗口（背景） */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 置于顶层 */
    padding-top: 100px; /* 位置 */
    left: 0;
    top: 0;
    width: 100%; /* 宽度 */
    height: 100%; /* 高度 */
    overflow: auto; /* 启用滚动条 */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.9); /* 黑色背景 */
}

/* 模态窗口中的图片 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* 关闭按钮 */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 如果需要，可以为其他特定的子部件添加更多的样式 */
