.chat-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* 初始化为父容器的100% */
    overflow: hidden;
}

.chat-content {
    /*flex-grow: 1; !* 默认情况下占据所有剩余空间 *!*/
    overflow-y: auto;
    height: 75%;
    transition: height 0.5s ease; /* 过渡效果 */
}
.chat-hr{
    margin: 5px 0;
}
.chat-tolbar-container {
    display: flex;
    align-items: center; /* 垂直居中图标 */
    height: 5%;
}

.chat-toolbar-icon {
    /* 初始大小，稍后会用JS调整 */
    font-size: 16px;
}
.chat-form{
    height: 20%;
    transition: height 0.5s ease; /* 过渡效果 */
}
.chat-toolbar-chatmain {
    height: 100%;
}

.message-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    height: 60%; /* 占chat-toolbar-chatmain高度的60% */
    border: 1px solid #6d737b;
    border-radius: 20px;
}

.chat-form-submit{
    width: 16%;
    /*子项目也是flex布局*/
    display: flex; /* 也使用Flex布局以便居中图标 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin: 0;
}

.chat-form-input{
    width: 84%;
    height: 100%;
}
/*1656x3584*/
.chat-form-image{
    display: none;
    overflow: hidden; /* 防止内容溢出 */
    height: 0%;
    margin: 2px 0 0 14px;
}
.chat-form-text{
    margin: 0 0 0 14px;
    height: 100%;
    /*子项目也是flex布局*/
    display: flex;
    align-items: center;
}

.image-container {
    height: 100%;
    position: relative;
    display: inline-block; /* 或者其他适合的显示方式 */
}

.chat-form-image img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: scale-down; /* 保持图片比例 */
}
.text-edit {
    width: 100%;
    height: 70%;
    margin: 0px;
    padding: 2px;
    resize: none;
    outline: none;
    border:none;
    font-size: 3%;
}
.close-btn {
    top: 0px; /* 调整位置 */
    right: 0px; /* 调整位置 */
    position: absolute;
    display: none; /* 默认不显示 */
    background-color: #f44336; /* 红色背景 */
    color: white; /* 白色图标 */
    border: none; /* 无边框 */
    border-radius: 50%; /* 圆形按钮 */
    width: 16px; /* 宽度 */
    height: 16px; /* 高度 */
    font-size: 12px;
    text-align: center; /* 文字居中 */
    line-height: 16px; /* 调整行高以垂直居中图标 */
    cursor: pointer; /* 鼠标悬浮时显示手指指针 */
    z-index: 100; /* 确保在顶层 */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); /* 添加轻微的阴影 */
    opacity: 0.7;
}

.chat-form-image:hover .close-btn {
    display: block; /* 鼠标悬停时显示 */
}



.submit-icon{
    color: #1E9FFF;
}

.chat-form-submit {
  transition: transform 0.3s ease; /* 添加过渡动画 */
  cursor: pointer; /* 将鼠标光标改变为指针，提供视觉反馈 */
}

.chat-form-submit:active {
  transform: scale(0.6); /* 当元素处于活动状态（即被点击时），缩小到原来的0.6倍大小 */
}



.record-container {
    display: none; /* 初始隐藏 */
    left: 0;
    right: 0;
    width: 100%; /* 与 message-input-container 同宽 */
    height: 60%;
    background-color: #E0E0E0; /* 淡灰色背景 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.record-container.active {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* 为取消按钮的绝对定位提供参考 */
}

.record-button, .cancel-button {
    cursor: pointer; /* 鼠标悬停时显示手型图标，提升可点击的直觉反应 */
}

.record-button {
    border-radius: 50%; /* 保持按钮圆形 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px; /* 按钮宽度--这里只是设置默认值js 会动态调整按钮长宽*/
    height: 50px; /* 按钮高度 */
    background-color: #4DD0E1; /* 录音按钮颜色 */
    color: white; /* 图标颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* 添加阴影 */
    transition: transform 0.2s; /* 动画效果 */
}

.record-button:hover {
    transform: scale(1.1); /* 鼠标悬停时放大 */
}

.cancel-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: none;
    border: none;
    color: #757575;
    font-size: 16px;
    transition: transform 0.2s; /* 动画效果 */
}

.cancel-button:hover {
    transform: scale(1.1); /* 鼠标悬停时放大 */
}



.result-section {
    display: none; /* 设置为flex布局 */
    width: 100%; /* 占满父容器的宽度 */
    height: 100%; /* 可根据需要调整 */
}

.recording-section{


}
.asr-result {
    width: 75%;
    height: 88%; /* 调整高度，确保不会占满整个容器 */
    margin: 3px; /* 添加外边距，让文本区不紧贴容器边缘 */
    padding: 2px; /* 内边距，增加输入空间 */
    border: 1px solid #ccc; /* 添加边框，增加可见性 */
    border-radius: 5px; /* 轻微的圆角 */
    background-color: #f8f8f8; /* 淡色背景 */
    resize: none; /* 禁止调整大小 */
    overflow-y: auto; /* 超出时允许垂直滚动 */
}

.control-buttons {
    display: flex; /* 设置为flex布局 */
    flex-direction: column; /* 子元素竖向排列 */
    justify-content: space-around; /* 在主轴方向上平均分布 */
    width: 25%;
    align-items: center; /* 在交叉轴上居中对齐子元素 */
    /*gap: 2px;*/
}

.control-button {
    width: 70%;
    padding: 7px 0;
    background-color: transparent; /* 移除背景色 */
    color: #4DD0E1; /* 设置文字和图标的颜色 */
    border-radius: 10%; /* 维持圆角 */
    font-size: 11px;
    cursor: pointer;
}

.control-button:hover {
    color: #3c9; /* 悬停时改变文字和图标颜色 */
    background-color: rgba(0,0,0,0.1); /* 悬停时轻微显示背景，增加交互感 */
}





