.chat-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* 初始化为父容器的100% */
    overflow: hidden;
}

.chat-content {
    flex-grow: 1; /* 默认情况下占据所有剩余空间 */
    overflow-y: auto;
}

.chat-tolbar-container {
    display: flex;
    align-items: center; /* 垂直居中图标 */
}

.chat-toolbar-icon {
    /* 初始大小，稍后会用JS调整 */
    font-size: 16px;
}

.chat-toolbar-chatmain {
    /* 默认高度 */
    height: 100px;
}

.message-input-container {
    display: flex;
    align-items: center;
    width: 99%;
    height: 60%; /* 占chat-toolbar-chatmain高度的60% */
    border: 1px solid #6d737b;
    border-radius: 20px;
}
.text-edit {
    width: 100%;
    height: 70%;
    margin: 0px;
    padding: 2px;
    resize: none;
    outline: none;
    border: none;
}
.chat-form-text{
    margin: 0;
    padding-left: 14px;

}
.chat-form-submit{
    display: flex; /* 也使用Flex布局以便居中图标 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin: 0;
}
.submit-icon{
    color: #1E9FFF;
}

.chat-form-submit {
  transition: transform 0.3s ease; /* 添加过渡动画 */
  cursor: pointer; /* 将鼠标光标改变为指针，提供视觉反馈 */
}

.chat-form-submit:active {
  transform: scale(0.6); /* 当元素处于活动状态（即被点击时），缩小到原来的0.9倍大小 */
}
